@import 'header.css';
@import 'div.offcanvas.css';

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

img {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.none-back {
    background: none !important;
    border: none !important;
}
